<CookText @rawText={{theme-i18n "warning_modal.content"}} />
<label for="ucd_do-not-show-again" class="checkbox-label">
  <Input
    @type="checkbox"
    id="ucd_do-not-show-again"
    name="ucd_do-not-show-again"
    @checked={{readonly this.shouldPermanentlyDismiss}}
    {{on "change" this.toggleShouldPermanentlyDismiss}}
  />
  {{theme-i18n "warning_modal.do_not_show_again"}}
</label>
<div class="action-buttons">
  <DButton
    @action={{this.goBackAndFix}}
    @icon="pencil"
    class="btn-primary"
    @label={{theme-prefix "warning_modal.fix_post"}}
  />
  <DButton
    @action={{this.ignoreAndProceed}}
    @label={{theme-prefix "warning_modal.ignore_and_post_anyway"}}
  />
</div>