{{#d-modal-body rawTitle=(ucd-modal-title)}}
  {{cook-text (theme-i18n "warning_modal.content")}}
  <label for="ucd_do-not-show-again" class="checkbox-label">
    {{input
      type="checkbox"
      id="ucd_do-not-show-again"
      name="ucd_do-not-show-again"
      checked=model.ucd_shouldPermanentlyDismiss
    }}
    {{theme-i18n "warning_modal.do_not_show_again"}}
  </label>
  <div class="action-buttons">
    {{d-button
      action=(action "goBackAndFix")
      icon="pencil-alt"
      tagName="button"
      class="btn-primary"
      label=(theme-prefix "warning_modal.fix_post")
    }}
    {{d-button
      action=(action "ignoreAndProceed")
      tagName="button"
      label=(theme-prefix "warning_modal.ignore_and_post_anyway")
    }}
  </div>
{{/d-modal-body}}