<script type="text/x-handlebars" data-template-name="modal/ucd-warning-modal">

<div class={{"ucd_warning-modal"}}>
  {{#d-modal-body title=(theme-prefix "warning_modal.title")}}
    {{cook-text (theme-i18n "warning_modal.content")}}
    {{
      preference-checkbox
      labelKey=(theme-prefix "warning_modal.do_not_show_again")
    }}

    <div class="action-buttons">
      {{
        d-button
        icon="pencil-alt"
        tagName="button"
        class="btn-primary"
        label=(theme-prefix "warning_modal.fix_post")
      }}

      {{
        d-button
        tagName="button"
        class=""
        label=(theme-prefix "warning_modal.ignore_and_post_anyway")
      }}
    </div>

  {{/d-modal-body}}
</div>

</script>
